@import "../node_modules/ol/ol.css";

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.map-container {
  position: absolute;
  top: calc(7vh + 2vh);
  left: 0;
  right: 0;
  bottom: 0;
}

/*.map{
  height: calc(100vh - 50px);
  width: 100%;
}*/

/*.clicked-coord-label{
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.clicked-coord-label p {
  margin: 10px;
}*/


/*html, body {
  margin: 0;
  height: 100%;
}*/


/*.map-container:-webkit-full-screen {
  height: 100%;
  margin: 0;
  z-index: 999;
}*/

/* position the rotate control lower than usual */
/*.map-container .ol-rotate {
  z-index: 999;
}*/

.container {
  position: relative;
}

.background-container {
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  right: 0;
  margin-right: 10px;
  border: 2px solid black;
  bottom: 3vh;
}

.background-select img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.app-label {
  text-align: center;
  flex: 1;
  background-color: #fd7e78;
  padding: 2vh;
  height: 7vh;
}

.app-label p {
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 0;
}

.change-window {
  top: 50%;
  left: 50%;
  position: absolute;
}

.info-Linien {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

.info-Linien button {
  margin-top: 25vh;
  z-index: 9999;
}