.header {
    background-color: red;
    padding: 20px;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  
  .app-label {
    text-align: center;
    flex: 1;
  }
  
  .app-label p {
    font-size: 32px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
  }