/* Stili per il componente DropdownChecklist */
.dropdown-checklist-container {
  position: absolute;
  display: inline-block;
  z-index: 999;
  left: 3.5%;
  top: 1%;
}

.dropdown-toggle {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}

.dropdown-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.dropdown-checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.dropdown-checkbox-icon {
  margin-right: 10px;
}
