.searchbar-container {
    position: fixed;
    top: calc(10%+10px);
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    z-index: 999;
  }
  
  .searchbar-input {
    flex: 1;
    padding: 12px;
    font-size: 24px;
    border: 1px solid #ccc;
  }
  
  .searchbar-button {
    margin-left: 10px;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .searchbar-button:hover {
    background-color: #0056b3;
  }
  